*{
    margin: 10px 30px;
    padding: 0;
}

.div{
    width: 300px;
    height: 100px;
    background-color: rgb(246, 246, 246);
}

p{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 30px 10px;
    margin: 0;
}

input{
    height: 40px;
    width: 100px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}

button{
    width: 100px;
    height: 50px;
    margin: 3px;
    background-color: rgba(0, 204, 255, 0.424);
    font-size: 17px;
}